h1.logo
    animation logo 5s linear infinite

@keyframes logo
    0%   { opacity: .1; }
    2%   { opacity:  1; }
    8%   { opacity: .1; }
    9%   { opacity:  1; }
    12%  { opacity: .1; text-shadow: 0 0 25px rgb( 25, 150, 255); }
    20%  { opacity:  1; text-shadow: 0 0 25px rgb(255,  25,  25); }
    25%  { opacity: .3; text-shadow: 0 0 25px rgb( 25, 150, 255); }
    30%  { opacity:  1; }
    70%  { opacity: .7; }
    72%  { opacity: .2; }
    77%  { opacity: .9; }
    100% { opacity: .9; }

span.glow
    color white
    animation glow 8s linear infinite

@keyframes glow
    0%   { opacity:  1; text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #1996FF, 0 0 70px #1996FF, 0 0 80px #1996FF, 0 0 100px #1996FF, 0 0 150px #1996FF; } // Blue
    23%  { opacity:  1; }
    25%  { opacity: .1; text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #FF32C8, 0 0 70px #FF32C8, 0 0 80px #FF32C8, 0 0 100px #FF32C8, 0 0 150px #FF32C8; } // Pink
    27%  { opacity:  1; }
    38%  { opacity:  1; }
    40%  { opacity: .1; }
    42%  { opacity:  1; }
    50%  { opacity:  1; text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white,   0 0 70px white,   0 0 80px white,   0 0 100px white,   0 0 150px white;   } // White
    75%  { opacity:  1; text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #FF32C8, 0 0 70px #FF32C8, 0 0 80px #FF32C8, 0 0 100px #FF32C8, 0 0 150px #FF32C8; } // Pink
    78%  { opacity:  1; }
    80%  { opacity: .1; }
    82%  { opacity:  1; }
    93%  { opacity:  1; }
    95%  { opacity: .5; }
    97%  { opacity:  1; }
    100% { opacity:  1; text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #1996FF, 0 0 70px #1996FF, 0 0 80px #1996FF, 0 0 100px #1996FF, 0 0 150px #1996FF; } // Blue
